    body {
        background-color: mediumvioletred;
        color: aliceblue;
        font-family: "BBH Sans Bogle", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        margin: 0;
    }

    button {
        background-color: brown;
        color: aliceblue;
        font-family: "BBH Sans Bogle", sans-serif;
    }